body {
    background-image: linear-gradient(#429EC5, #77BDBB);
}

body * {
    border-radius: 10px;
    text-align: "center";
    margin: auto;
    max-width: 640px;
}

#profileImage {
    display: block;
    margin-top: 80px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 80px;
    border-radius: 50%;
    width: 120px;
    height: 120px
}


.container {
    margin-top: 20px;
    margin-right: 10%;
    margin-left: 10%

}

.socials button {
    width: 100%;
    height: 50px;
    border: none;
    box-shadow: 5px 5px #BD504E;
    margin-bottom: 20px;
}

.socials button:hover {
    background-color: #C04C55
}

.socials button img {
    width: 20%;
    height: 100%;
    float: left;
}

.socials button p {
    padding-right: 20%;
}

.projects {
    background-color: #BD504E;
    box-shadow: 5px 5px #DED8BE;
    padding: 30px
}

.formEmbed {
    background-color: #77BDBB;
    box-shadow: 5px 5px #DED8BE;
    margin-top: 30px;
    height: 50vh
}

.formEmbed iframe {
    width: 100%;
    height: 100%
}
