body {
    background-image: linear-gradient(#429EC5, #77BDBB);
    background-attachment: fixed;
}

body * {
    border-radius: 10px;
    text-align: "center";
    margin: auto;
    max-width: 640px;
}

.container {
    margin-top: 80px;
    margin-right: 10%;
    margin-left: 10%;
}

#profileImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-radius: 50%;
    width: 120px;
    height: 120px
}

.about {
    margin-bottom: 40px;
    color: #DED8BE;
}

.about h1, p {
    text-align: center;
    margin-bottom: 5px;
}

button {
    width: 100%;
    font-size: 18px;
    border: none;
    background-color: white;
    box-shadow: 5px 5px #BD504E;
}

#socials button {
    height: 50px;
    margin-bottom: 20px;
}

#socials button:hover {
    background-color: #C04C55;
    color: white
}

.projects img {
    width: 100%;
    box-shadow: 5px 5px #DED8BE;
    margin-bottom: 20px;
}

#mailList p {
    margin: 10px;
}

hr {
    color: #BD504E
}

input {
    width: 60%;
    height: 40px;
    margin: 5px;
    border-radius: 0px;
    border: none;
    background-color: whitesmoke
}


form :last-child {
    background-color: white;
    border-radius: 2px;
    border-style: solid;
    border-color: #BD504E;
    color: #BD504E;
    margin: 20px;
    border-radius: 10px;
    width: 100px;
    height: 30px
}

form :last-child:hover {
    background-color: #BD504E;
    color: white
}

#mailList p:last-child {
    font-size: 12px;
    text-align: left;
}