body {
    background-color: #DCF7FF;
}

body * {
    border-radius: 10px;
}

#profileImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 220px;
    height: 220px
}



.socials {
    text-align: center;
    margin: auto;
    width: 400px;
    padding: 10px

}

.socials button {
    width: 100%;
    height: 50px;
    border: none;
    background-color: white;
    
    box-shadow: 10px 10px #BD504E;
    margin-bottom: 20px;
}

.socials button:hover {
    background-color: #BD504E;
}

.socials button img {
    width: 20%;
    height: 100%;
    float: left;
}

.socials button p {
    padding-right: 20%;
}

.projects {
    border-style: solid;
    border-color: #BD504E;
    padding: 50px
}
